* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  box-sizing: border-box;
  border-style: solid;
  border-radius: 7px;
  border-color: #cbcbcb;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 40px;
  background-color: #fff;
}

h1 {
  font-size: 18px;
  padding-left: 5px;
  border-bottom: solid;
  border-color: #cbcbcb;
  background-color: #cbcbcb;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  background: none;
  padding-left: 5px;
  padding-bottom: 10px;
  border-bottom: solid;
  border-color: #cbcbcb;
}

.fa-arrows-rotate {
  padding-right: 5px;
}

form input {
  width: 95%;
  height: 100%;
  font-style: italic;
  border: none;
  outline: none;
}

form button {
  outline: none;
  background-color: transparent;
  border: none;
}

form i {
  font-size: 16px;
}

.each {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tasks {
  width: 100%;
  height: 10px;
  margin: 0 10px;
  outline: none;
  border: none;
  font-size: 17px;
  padding: 10px 8px;
}

.item {
  height: 15px;
  width: 20px;
  position: relative;
}

.goes {
  width: 100%;
  height: 100%;
  border: 2px solid gray;
  background-color: transparent;
  margin-left: 5px;
}

.fa-ellipsis-vertical {
  margin-right: 10px;
}

.item #checked {
  color: blue;
  display: none;
  font-size: 15px;
}

.it i {
  display: block;
  position: absolute;
  top: 0;
}

.it .white {
  display: none;
}

#trash {
  display: none;
}

.ic #trash {
  display: block;
  margin-right: 5px;
}

.ic #more {
  display: none;
}

.come {
  text-align: center;
  background-color: rgb(203 203 203);
  margin-top: 5px;
}

#clear {
  background: transparent;
  outline: none;
  border: none;
}

.check .goes {
  display: none;
}
.check #checked {
  display: block;
  margin-left: 7px;
}

.line {
  text-decoration: line-through;
}
